input{
    background-color: rgb(62, 62, 62);
    border: 0;
    margin-bottom: 1rem;
}
#formulario{
    text-align: center;
}
.card-title{
    font-size: 15px;
    font-style: italic;
}
.card-text{
    font-size: 12px;
    font-style: normal;
}
.card{
    margin-bottom: 1rem;
}