<div class="footer">
  <footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase text-dark">Autores</h5>
          <p class="text-dark">
            Valentina Romero, Valentina Ortiz y Gonzalo Herrera
          </p>
          <p class="text-dark">
            Institución: CET 30
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase text-dark">Contacto</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.cet30.edu.ar/institucion" class="text-dark">Página del colegio</a>
            </li>
            <li>
              <a href="#" class="text-dark">Campus virtual</a>
            </li>
            <li>
              <a href="#" class="text-dark"><img src="https://w7.pngwing.com/pngs/300/178/png-transparent-computer-icons-icon-design-instagram-logo-miscellaneous-area-smile.png" alt="Instagram" width="20" height="20"> Instagram</a>
            </li>
            <li>
              <a href="#" class="text-dark"><img src="https://w7.pngwing.com/pngs/914/758/png-transparent-github-social-media-computer-icons-logo-android-github-logo-computer-wallpaper-banner-thumbnail.png" alt="GitHub" width="20" height="20"> GitHub</a>
            </li>
            <li class="text-dark">
              Número de contacto: +54 299-4519879
            </li>
            <li class="text-dark">
              Correo electrónico: valenromero678@gmail.com
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>
  
</div>