<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <ion-back-button></ion-back-button>
    <a class="navbar-brand" href="#">Nutriplan</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="login">
          <a class="nav-link" routerLink="/catalogo" href="/catalogo">Catalogo</a>
        </li>
        <li class="login">
          <a class="nav-link" routerLink="/login" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/perfil" href="/perfil">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>