<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Catalogo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-input [(ngModel)]="textoDeBusqueda" (ngModelChange)="buscar()" placeholder="Buscar producto..."></ion-input>

  <div class="row">
    <div *ngFor="let producto of productos" class="col">
      <div class="card" style="width: 9.5rem">
        <img [src]="producto.url_imagen" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{producto.titulo}}</h5>
          <p class="card-text">{{producto.receta}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button
              class="btn btn-primary"
              (click)="comprar(producto.url_compra)"
            >
              Comprar
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
