input{
    background-color: rgba(106, 106, 106, 0.51);
    border: 0;
}
#formulario{
    text-align: center;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
}
.titulo{
    color: rgb(0, 132, 255);
    text-align: center;
    margin: 1rem;
}